.d-flex-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
  }
  
  ion-segment {
    width: 100%;
    max-width: 400px;
    margin-top: 20px;
  }
  
  .authen-form {
    width: 100%;
    max-width: 400px;
    margin-top: 20px;
  }
  
  .forgot-password-link {
    text-decoration: none; 
    color: var(--ion-color-primary);
    display: block;
    text-align: end;
    margin-bottom: 10px;
  }

  .app-logo {
    width: 350px;  
    max-width: 100%;
    height: auto;
  }
  