ion-content {
  --background: #f3f4f6;
}

.header-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 16px;
}

.help-button {
  color: #007bff;
  font-weight: bold;
}

.right-buttons {
  display: flex;
  gap: 10px;
}

.header-button {
  color: #007bff;
  font-weight: bold;
}

.welcome-container {
  text-align: center;
  margin-top: 20px;
}

.welcome-container h1 {
  color: #333;
  font-size: 24px;
  font-weight: bold;
}

.search-bar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  max-width: 90%;
}

.search-input {
  --background: rgba(255, 255, 255, 0.9);
  height: 40px;
  font-size: 14px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 0 10px;
  flex: 1;
}

.search-button {
  height: 40px;
  font-size: 14px;
  width: 80px;
  --background: #0078d7;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.category-card {
  text-align: center;
  color: #fff;
  border-radius: 8px;
  --background: #555;
}

.gasfiteria {
  --background: #ff8c00;
}

.jardineria {
  --background: #32cd32;
}

.cerrajeria {
  --background: #1e90ff;
}

.albanileria {
  --background: #8b4513;
}

ion-card-title {
  font-size: 1.2em;
  font-weight: bold;
  color: #fff;
}


