<ion-content>
  <div class="header-buttons">
    <ion-button fill="clear" (click)="necesitasAyuda()" class="help-button">
      ¿Necesitas ayuda?
    </ion-button>
    <div class="right-buttons">
      <ion-button fill="clear" (click)="irPerfil()" class="header-button">
        Perfil
      </ion-button>
      <ion-button fill="clear" (click)="cerrarSesion()" class="header-button">
        Cerrar sesión
      </ion-button>
    </div>
  </div>

  <div class="welcome-container">
    <h1>Bienvenido</h1>
    <p>Encuentra el servicio que necesitas de manera rápida y sencilla.</p>
  </div>

  <div class="search-bar-container">
    <ion-input type="text" placeholder="Busca el servicio que necesitas" class="search-input"></ion-input>
    <ion-button color="primary" class="search-button" (click)="buscarServicio()">Buscar</ion-button>
  </div>

  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-card button (click)="Gasfiteria()" class="category-card gasfiteria">
          <ion-card-header>
            <ion-card-title>Gasfitería</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-icon name="construct-outline" size="large"></ion-icon>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card button (click)="Jardineria()" class="category-card jardineria">
          <ion-card-header>
            <ion-card-title>Jardinería</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-icon name="leaf-outline" size="large"></ion-icon>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <ion-card button (click)="verServicios('cerrajeria')" class="category-card cerrajeria">
          <ion-card-header>
            <ion-card-title>Cerrajería</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-icon name="key-outline" size="large"></ion-icon>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card button (click)="verServicios('albanileria')" class="category-card albanileria">
          <ion-card-header>
            <ion-card-title>Albañilería</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-icon name="hammer-outline" size="large"></ion-icon>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
